<div class="col-md-8 col-md-offset-2">
  <div class="row mt20">
    <div class="col-xs-2">
      <%= image_tag 'owl-teacher.png', style: 'width: 110px; height:auto; float:left;' %>

    </div>
    <div class="col-xs-10">
      <p class="triangle-isosceles left">
        <%= _("Choose an exam to practise!") %>
      </p>
    </div>
  </div>

</div>
