<div class="row">
  <div class="col-xs-12 answer <%= 'green' if answer[:number] == 1 %>  <%= 'red' if answer[:number] != 1 and @test_question.answer == answer[:number] %>">
    <p><%= answer[:text] %></p>
  </div>
</div>