
.login-logo{
  border-color: #ddd;
  margin-top: -20px;
}

.login-parent-container{
  position: absolute;
  top: 33%;
  margin-top: -168px;/* half of #content height*/
  left: 0;
  width: 100%;
}
.login-child-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 510px;
}

#page-wrapper{
  margin-top: 20px;
}

.mt20{
  margin-top: 20px;
}

.badge.green {
  background-color: green;
}

.panel.panel-danger{
  .panel-login{
    background-color: #c0392b;
    color: white;
  }
  border-color: #c0392b;

}

.div-label-color {
  a {
    color: #2f0a06;
    text-decoration: underline;
    float: right;
  }
  label {
    color: #2f0a06;
  }
}

.button-redurv{
  background-color: #f39c12;
}
.button-redurv:hover{
  background-color: #e67e22;
}

.logo-navbar{
  margin-top: -20px;
  height: 80px;
}